.acceuilContainer {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;;
  text-align: center;
  padding: 20px;
  color: black; 
}

.acceuilContainer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/industrie-850.jpeg'); 
  background-size: cover;
  background-position: center;
  opacity: 0.5; 
  z-index: -1;
}

.acceuilContent {
  position: relative;
  padding: 40px;
  border-radius: 10px;
}

.acceuilTitle {
  font-size: 3em;
  margin-bottom: 20px;
  align-items: flex-start;;
}

.acceuilDescription {
  font-size: 1.5em;
  align-items: center;;
}

